/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
}

p {
    font-family: Arial;
    margin-bottom: 20px;
    line-height: 25px;
}

a {
   color: rgb(106, 107, 230)
}

/* Колонки */

.row {
    display: flex;
    margin: 0 -15px;

}
.col {
    flex: auto;
    margin: 0 15px 25px;
}


/* Потом селекторы по классам */

.text-input {
    width: 90%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 8px;
    font-family: Arial;
    font-size: 14px;
    color: rgb(210, 210, 210);
    opacity: 60%;
    border: solid;
    border-color: rgb(100, 100, 100);
    border-width: 1px;
    border-radius: 3px;
}

.button {
    background-color: rgb(84, 87, 227);
    color: white;
    height: 37px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    font-family: Arial;
    border-color: dark-grey;
    border-width: 1px;
    border-radius: 4px;
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 8px;
    font-family: Arial;
    font-size: 14px;
    color: rgb(210, 210, 210);
    opacity: 60%;
    border: solid;
    border-color: rgb(100, 100, 100);
    border-width: 1px;
    border-radius: 3px;
}

/* Mailing-list*/

.checkboxes{
    width: 20px;
    height: 20px;
    vertical-align: top;

}

/* Страничка жанров и тегов */

h2 {
    font-family: Arial;
}

h3 {
    font-family: Arial;
    margin: -12px 0 0 0;
}

.genre-first {
    background: #E1F5EA;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: Arial;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.genre-second {
    background: #CBEDFF;
    width: 75%;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: Arial;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.genre-third {
    background: rgb(252, 240, 229);
    width: 45%;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: Arial;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.genre-fourth {
    background: rgb(233, 221, 246);
    width: 30%;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: Arial;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.tag {

}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-green {
    background: #E1F5EA;
    width: 90%;
    height: 40px;
    padding-top: 15px;
    padding-bottom: 52px;
    padding-left: 20px;
    font-family: Arial;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-purple {
    background: rgb(233, 221, 246);
    width: 90%;
    height: 40px;
    padding-top: 15px;
    padding-bottom: 52px;
    padding-left: 20px;
    font-family: Arial;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-large {
    font-family: Arial;
    font-size: 18px;
}

.button-link {
    background-color: rgb(84, 87, 227);
    color: white;
    width: 100%;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
    font-family: Arial;
    text-decoration: none;
    border-color: dark-grey;
    border-width: 1px;
    border-radius: 4px;
}

.button1 {
    background-color: rgb(84, 87, 227);
    color: white;
    width: 190px;
    height: 37px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
    font-family: Arial;
    border-color: dark-grey;
    border-width: 1px;
    border-radius: 4px;
}